.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.topbuttons {
    background-color: whitesmoke;
    text-decoration: none;
}

.button {
    color: #4f5386;
}

.form {
    width: 75%;
}

.formitems {
    display: flex;
    flex-direction: column;
    width: 500px;
}